In [1]:
import numpy as np
import os
import pandas as pd

In [2]:
input_path = os.path.join("..", "..", "example", "input", "generation", "case118_l2rpn_wcci")
df = pd.read_csv(os.path.join(input_path, "prods_charac.csv"))

avg_pmaxs = df.groupby(["type"])["Pmax"].mean()
types = avg_pmaxs.index.to_numpy()
avg_pmaxs = avg_pmaxs.to_numpy()

In [5]:
df.groupby("type").count()

,name,Pmax,Pmin,bus,max_ramp_up,max_ramp_down,min_up_time,min_down_time,marginal_cost,shut_down_cost,start_cost,zone,generator,x,y,V
type,,,,,,,,,,,,,,,,
hydro,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
nuclear,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
solar,16,16,16,16,0,0,16,16,16,16,16,16,16,16,16,16
thermal,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
wind,14,14,14,14,0,0,14,14,14,14,14,14,14,14,14,14

In [3]:
def get_info_by_type(info):
  res = []
  for t in types:
    res.append(df[df["type"] == t].iloc[0][info])
  return np.array(res)

In [4]:
df = pd.read_csv(os.path.join(input_path, "prods_charac.csv"))


n = df.shape[0]
pmaxs = [250.0, 400.0, 74.7, 200.0, 67.2]
max_ramp_up = get_info_by_type("max_ramp_up")
max_ramp_down = get_info_by_type("max_ramp_down")
min_up_time = get_info_by_type("min_up_time")
min_down_time = get_info_by_type("min_down_time")
marginal_cost = get_info_by_type("marginal_cost")
shut_down_cost = get_info_by_type("shut_down_cost")
start_cost = get_info_by_type("start_cost")

In [5]:
file = open("solver/build/result.txt")
for i in range(n):
  idx = int(file.readline())
  df.at[i, "type"] = types[idx]
  df.at[i, "Pmax"] = pmaxs[idx]
  df.at[i, "max_ramp_up"] = max_ramp_up[idx]
  df.at[i, "max_ramp_down"] = max_ramp_down[idx]
  df.at[i, "min_up_time"] = min_up_time[idx]
  df.at[i, "min_down_time"] = min_down_time[idx]
  df.at[i, "marginal_cost"] = marginal_cost[idx]
  df.at[i, "shut_down_cost"] = shut_down_cost[idx]
  df.at[i, "start_cost"] = start_cost[idx]

In [6]:
df.to_csv("../../example/custom/input/generation/case118_l2rpn_wcci/prods_charac.csv", index=False)