In [1]:
import pandas as pd
import os

In [2]:
env_name = "case118_l2rpn_icaps_2.5x"
path_ref = os.path.join("..", "example", "input", "generation")
input_path = os.path.join(path_ref, env_name)
df = pd.read_csv(os.path.join(input_path, "prods_charac.csv"))

avg_pmaxs = df.groupby(["type"])["Pmax"].mean()
types = avg_pmaxs.index.to_numpy()

In [3]:
df

,name,Pmax,Pmin,type,bus,max_ramp_up,max_ramp_down,min_up_time,min_down_time,marginal_cost,shut_down_cost,start_cost,zone,generator,x,y,V
0,gen_3_0,84.0,0.0,wind,3,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,0,62,-101,142.1
1,gen_3_1,84.0,0.0,wind,3,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,70,62,-101,142.1
2,gen_7_2,400.0,0.0,nuclear,7,2.8,2.8,2016.0,2016.0,35.0,0,27728.7,R1,2,74,-293,355.4
3,gen_9_3,300.0,0.0,thermal,9,5.8,5.8,12.0,12.0,49.0,0,3392.3,R1,3,74,-390,355.4
4,gen_10_4,93.3,0.0,solar,10,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,69,116,-104,142.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,gen_106_57,168.0,0.0,wind,106,NaN,NaN,0.0,0.0,0.0,0,0.0,R3,48,988,-582,142.1
58,gen_110_58,150.0,0.0,thermal,110,4.3,4.3,24.0,24.0,52.0,0,15319.4,R3,50,900,-707,142.1
59,gen_111_59,168.0,0.0,wind,111,NaN,NaN,0.0,0.0,0.0,0,0.0,R3,51,987,-699,142.1
60,gen_112_60,100.0,0.0,thermal,112,2.8,2.8,24.0,24.0,49.0,0,18016.4,R1,52,203,-276,142.1
61,gen_115_61,100.0,0.0,thermal,115,2.8,2.8,96.0,96.0,51.0,0,6281.1,R2,53,781,-362,355.4

In [4]:
mask = (df["type"] == "wind") | (df["type"] == "solar")
df.at[mask, "Pmax"] = df[mask]["Pmax"] * 1.5

In [5]:
mask = df["type"] == "thermal"
df.at[mask, "start_cost"] = df[mask]["start_cost"] * 10

In [6]:
df

,name,Pmax,Pmin,type,bus,max_ramp_up,max_ramp_down,min_up_time,min_down_time,marginal_cost,shut_down_cost,start_cost,zone,generator,x,y,V
0,gen_3_0,126.00,0.0,wind,3,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,0,62,-101,142.1
1,gen_3_1,126.00,0.0,wind,3,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,70,62,-101,142.1
2,gen_7_2,400.00,0.0,nuclear,7,2.8,2.8,2016.0,2016.0,35.0,0,27728.7,R1,2,74,-293,355.4
3,gen_9_3,300.00,0.0,thermal,9,5.8,5.8,12.0,12.0,49.0,0,33923.0,R1,3,74,-390,355.4
4,gen_10_4,139.95,0.0,solar,10,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,69,116,-104,142.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,gen_106_57,252.00,0.0,wind,106,NaN,NaN,0.0,0.0,0.0,0,0.0,R3,48,988,-582,142.1
58,gen_110_58,150.00,0.0,thermal,110,4.3,4.3,24.0,24.0,52.0,0,153194.0,R3,50,900,-707,142.1
59,gen_111_59,252.00,0.0,wind,111,NaN,NaN,0.0,0.0,0.0,0,0.0,R3,51,987,-699,142.1
60,gen_112_60,100.00,0.0,thermal,112,2.8,2.8,24.0,24.0,49.0,0,180164.0,R1,52,203,-276,142.1
61,gen_115_61,100.00,0.0,thermal,115,2.8,2.8,96.0,96.0,51.0,0,62811.0,R2,53,781,-362,355.4

In [7]:
path_tmp = os.path.join("..", "example", "custom", "input", "generation")
input_path = os.path.join(path_tmp, env_name)
df.to_csv(os.path.join(input_path, "prods_charac.csv"), index=False)